In [2]:
import pandas as pd
import numpy as np

In [3]:
import warnings

In [4]:
warnings.filterwarnings('ignore')

In [6]:
column_names=['user_id','item_id','rating','time_stamp']

In [7]:
df=pd.read_csv('u.data',sep='\t',names=column_names)

In [13]:
df['user_id'].nunique()

943

In [14]:
df['item_id'].nunique()

1682

In [83]:
movies_title=pd.read_csv('u.item',sep='\|',header=None)

In [84]:
movies_title=movies_title[[0,1]]

In [85]:
movies_title.columns=['item_id','title']

In [86]:
movies_title.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)